/* Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 40vh;
  width: 100%;
}

.title {
  font-size: 8vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search {
  width: 43%;
}

.select {
  width: 43%;
}

/* Agrega una clase para el tema oscuro */
.darkTheme .searchInput {
  color: #fff;
  /* Cambia el color del texto a blanco en modo oscuro */
}

/* Cambia el color del borde a blanco en modo oscuro */
.darkTheme .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}